:root {
  --color-navbar: #da3e33;
  --color-text-navbar: #cbd5db;
  --color-text-hover-navbar: #ffffff;
  --color-border: #942b24;
  --color-hover: #7c312b;
  --color-background-hover: #f38e8e;
  --color-background-body: #fafafa;
  --color-text: #333333;
  --color-h-text: #444444;
  --color-background-profile: #ffffff;
}

body {
    background: var(--color-background-body);
    color: var(--color-text);
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-h-text);
  }
  
  .bg-steel {
    background-color: var(--color-navbar);
  }
  
  .site-header .navbar-nav .nav-link {
    color: var(--color-text-navbar);
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: var(--color-text-hover-navbar);
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  /* PROFILE */
  .content-section {
    background: var(--color-background-profile);
    padding: 10px 20px;
    border: 2px solid var(--color-border);
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .account-img {
    border: 2px solid var(--color-border);
  }

  /* CARDS */
  .card {
    border-radius: 50px;
    border: 2px solid var(--color-border);
  }

  .card-img-top {
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }

  .btn-primary {
    border-radius: 15px;
    background: var(--color-navbar);
    border: 2px solid var(--color-border);
    transition-duration: 0.3s;
    width: 100px; 
    margin: 0 auto;
    display: block;
    
  }

  .btn-primary:hover {
    background-color: var(--color-background-hover);
    color: var(--color-hover);
    border: 2px solid var(--color-navbar);
  }